@import "tailwindcss";

body {
    /* background-image: url('/bgImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #E8ECD7;
    margin:0;
    padding:0;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
    pointer-events: none;
}

.custom-scroll::-webkit-scrollbar{
    width: 2px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

/* animation to flip the card */

.perspective {
    perspective: 1000px;
  }
  
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  