@import "tailwindcss";

body {
    /* background-image: url('/bgImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    background-color: #E8ECD7;
    margin:0;
    padding:0;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
    pointer-events: none;
}
